.book-details{
    max-width: 550px;
    flex-direction: column;
    min-height: 60vh;
}
.book-details img{
    max-width: 45%;
    object-fit: contain;
    margin-inline-end: 2rem;
}
.main-details-container{
    display: flex;
}
.book-desc{
    width: 100%;
    margin: 2rem 0px;
    padding-bottom:2rem;
    min-height: 7rem;
    border-bottom: 1px solid rgb(212, 211, 211);
}
.book-features{
    flex-direction: column;
}
.book-features h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: inline;
}
.book-bullet-points{
    margin-bottom: 2rem;
}
.book-details-price{
    font-size: 1.5rem;
    flex-grow:1;
    color: #fa371e;
    font-weight: bold;
    letter-spacing: 1px;
}