.home-page {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow-x: hidden;
  padding: 20px;
}

.home-page p {
  font-size: 20px;
  text-align: center;
}

.home-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  width: 420px;
  height: 420px;
  justify-content: center;
  justify-self: center;
}

.home-links a {
  background-color: whitesmoke;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 10%;
  border: solid 2px transparent;
  text-align: center;
  justify-self: center;
}

.home-links a.blue {
  border: solid 5px #1b78cf;
}
.home-links a.green {
  border: solid 5px #4fbf6e;
}
.home-links a.yellow {
  border: solid 5px #ffc838;
}

.home-links a.red {
  border: solid 5px #fb3d23;
}

.home-links img {
  width: 180px !important;
}

.home-links i {
  font-size: 80px;
  margin-top: 10px;
  display: block;
}

.home-links a:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 5px 5px;
  background-color: white;
}
