@import '../../../missBooks/assets/css/BooksApp.css';
@import '../../../missBooks/assets/css/BookDetails.css';
@import '../../../missBooks/assets/css/Reviews.css';
@import '../../../missKeep/assets/css/KeepApp.css';
@import '../../../missKeep/assets/css/KeepAdd.css';
@import '../../../missKeep/assets/css/KeepDetails.css';
@import '../../../misterEmail/assets/css/EmailApp.css';
@import '../../../misterEmail/assets/css/EmailCompose.css';

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Regular.ttf');
}

/* BASE */

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(251, 249, 249);
  font-family: Oxygen;
  margin: 0px;
}
header {
  border-bottom: 1px solid rgb(218, 217, 217);
  background-color: white;
  padding-bottom: 10px;
  grid-area: 1 / 1 / 2 / 2;
  /* margin-bottom: 1.5rem; */
}
main {
  /* min-height: 60vh; */
  grid-area: 2 / 1 / 3 / 2;
}
#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10.809375em auto;
}

footer {
  background-color: #dbc9a7;
  height: 200px;
}
h2,
h3,
h4 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
  border-radius: 4px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.logo {
  margin: 1rem 0px;
}
.logo img {
  width: 250px;
}
.header-content a {
  margin-inline-end: 3rem;
  font-size: 1.2rem;
  padding: 5px;
}
.header-content a.active {
  background-color: #ffc838;
  color: white;
  border-radius: 4px;
}
.header-content li:last-of-type a {
  margin-inline-end: 0rem;
}
/* SNIPPETS & ADD-ONS */
.cheap {
  color: green;
}
.expensive {
  color: red;
}
.sale-price {
  display: inline-block;
  color: red;
  font-size: 0.75rem;
  margin: 10px;
  border: dotted red 1px;
  padding: 5px;
  border-radius: 4px;
}
.txt-show-btn {
  color: #1b78cf;
  cursor: pointer;
}
.txt-show-btn:hover {
  text-decoration: underline;
}
.btn {
  background-color: #ffffff;
  color: black;
  padding: 10px;
  border-radius: 4px;
  border: solid black 2px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* HELPERS */
.flex {
  display: flex;
}
.center-margin {
  margin: 0 auto;
}
.clean-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  list-style-type: none;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
}
.space-between {
  justify-content: space-between;
}
